<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Welcome</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </div>
  </div>
</nav>
<form class="form-horizontal" action="/" method="post"> <fieldset>
<!-- Form Name --> <legend>Application Design and Development</legend>
<!-- Text input--> <div class="form-group"> <label class="col-md-4 control-label" for="firstname">First Name</label> <div class="col-md-4"> <input id="firstname" name="firstname" type="text" placeholder="Dan" class="form-control input-md">
</div> </div>
<!-- Text input--> <div class="form-group"> <label class="col-md-4 control-label" for="lastname">Last Name</label> <div class="col-md-4"> <input id="lastname" name="lastname" type="text" placeholder="Phelps" class="form-control input-md">
</div> </div>
<!-- Select Basic --> <div class="form-group"> <label class="col-md-4 control-label" for="class_love">How much do you love this class?</label> <div class="col-md-4"> <select id="class_love" name="class_love" class="form-control"> <option value="A lot">A lot</option> <option value="A Whole Lot">A Whole Lot</option> <option value="A Really Whole Lot">A Really Whole Lot</option> <option value="More than I care to say">More than I care to say</option> </select> </div> </div>
<!-- Textarea --> <div class="form-group"> <label class="col-md-4 control-label" for="feedback">Random Feedback</label> <div class="col-md-4"> <textarea class="form-control" id="feedback" name="feedback">Give us feedback...</textarea> </div> </div>

<!-- Button --> <div class="form-group"> <label class="col-md-4 control-label" for="submit"></label> <div class="col-md-4"> <button id="submit" name="submit" class="btn btn-primary">Submit</button> </div> </div>
</fieldset> </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
  </html>